{% extends 'Admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
    /* Add custom CSS for curved table */
    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border: 2px solid #dddddd; /* Add a contrasting border color */
        border-radius: 20px; /* Adjust the radius as needed */
        overflow: hidden;
        margin-bottom: 20px; /* Add margin at the bottom */
    }

    .rounded-table th,
    .rounded-table td {
        padding: 8px;
        text-align: left;
        border: 1px solid #dddddd;
    }


</style>

</head>

<body>
<h3 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">View Complaint</h3><br>

<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered rounded-table">
    <tr style="background-color: #EAA636;color: black">
      <th scope="col">Sl.No</th>
      <th scope="col">Complaint</th>
      <th scope="col">User Info</th>
      <th scope="col">Date</th>
      <th scope="col">Reply</th>
      <th scope="col">Reply Date</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.complaints }}</td>

      <td><b style="color: black">Name :</b> {{ i.USER.name }}<br><b style="color: black">Contact :</b>{{ i.USER.contact }}</td>
     <td>&nbsp;{{ i.date }}</td>
        {% if i.reply == 'pending' %}
            <td colspan="2"><div align="center"><a href="/send_reply/{{ i.id }}#ppp" class="btn btn-outline-success">Send Reply</a></div></td>
        {% else %}
            <td>{{ i.reply }}</td>
            <td>{{ i.reply_date }}</td>
        {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>


{% endblock %}