{% extends 'Admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<style>
    /* Add custom CSS for curved table */
    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border: 2px solid #dddddd; /* Add a contrasting border color */
        border-radius: 20px; /* Adjust the radius as needed */
        overflow: hidden;
        margin-bottom: 20px; /* Add margin at the bottom */
    }

    .rounded-table th,
    .rounded-table td {
        padding: 8px;
        text-align: left;
        border: 1px solid #dddddd;
    }


</style>

<body>
<h3 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">View Category</h3><br>

<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered rounded-table">
    <tr style="background-color: #EAA636;color: black">
      <th scope="col" style="text-align: center">Sl.No</th>
      <th scope="col" style="text-align: center">Category Name</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td style="text-align: center">{{ forloop.counter }}</td>
      <td style="text-align: center">{{ i.category_name }}</td>
      <td><a href="/delete_category/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Remove</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
