{% extends 'User/user_index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
    /* Add custom CSS for curved table */
    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border: 2px solid #dddddd; /* Add a contrasting border color */
        border-radius: 20px; /* Adjust the radius as needed */
        overflow: hidden;
        margin-bottom: 20px; /* Add margin at the bottom */
    }

    .rounded-table th,
    .rounded-table td {
        padding: 8px;
        text-align: left;
        border: 1px solid #dddddd;
    }


</style>
</head>

<body>
<h3 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">Payment Mode</h3>

<form id="form1" name="form1" method="post" action="/payment_mode_post/{{ rid }}">
    {% csrf_token %}
  <table  border="1" class="table table-bordered rounded-table">
    <tr>
      <th scope="row">Payment Mode</th>
      <td>
          <input type="radio" name="RadioGroup1" value="online" id="RadioGroup1_0"  required/>
          online
        <br />

          <input type="radio" name="RadioGroup1" value="offline" id="RadioGroup1_1" required />
          offline
        <br />
      </td>
    </tr>
    <tr>
        <th colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-outline-primary" /></div></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}